* {margin: 0;padding: 0;border: none;font-size: 1.5625vw;font-family: "Microsoft YaHei";}
html,body {height: 100%;overflow: hidden;}
/*music*/
.music {position: fixed;top: 3vh;right: 4vw;z-index: 5;width: 15vw;height: 15vw;border: 4px solid #ef1639;border-radius: 10px;background-color: #666;}
.music > img {position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;width: 79%;}
/*page bg*/
/*图一*/
.page {position: absolute;height: 100%;width: 100%;}
.page > .bg {position: absolute;z-index: -1;height: 100%;width: 100%;}
#page1 {display: block;}
#page1 > .p1_lantern {position: absolute;top: -3.4%;right: 0;left: 0;margin: auto;background: url(../img/p1_lantern.png) no-repeat center bottom;background-size: 100%;width: 45vw;height: 71.2vh;font-size: 30px;padding-top: 31vh;text-align: center;box-sizing: border-box;z-index: 1;}
#page1 > .p1_lantern:before {content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;margin: auto;width: 30vw;height: 30vw;background-color: #d60b3b;opacity: .5;border-radius: 50%;box-shadow: 0 0 10vw 10vw #d60b3b;-webkit-box-shadow: 0 0 10vw 10vw #d60b3b;
	animation: p1_lantern .5s infinite alternate;
}
@keyframes p1_lantern {
	0% {
		opacity: .5;
		transform: scale(.9 , .9);
	}
	100% {
		opacity: .7;
	}
}
#page1 > .p1_cartoon {position: absolute;right: 0;bottom: 9vh;left: 0;background: url(../img/pic_pika.jpg) no-repeat center center;background-size: 100%;width: 27.656vw;height: 18.63vh;margin: auto;}
#page1 > .p1_words p {font-size: 20px;position: absolute;right: 0;bottom: 48px;left: 0;text-align: center;color: #231815;}
/*page2*/
#page2 {display: none;transition: .5s;}
#page2.fadeOut {opacity: .3;transform: translate(0, -100%);}
#page2 > .bg {background: url(../img/p2_bg.jpg) no-repeat center center;background-size: 100%;}
#page2 > .p2_bg {z-index: 4;background: #ef1639;animation: p2_bg 1s linear forwards;}
@keyframes p2_bg {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/*圆圈circle旋转*/
#page2 > .p2_circle {position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;border-radius: 50%;background: url(../img/p2_circle_outer.png) no-repeat center center;background-size: 100%;width: 59.376vw;height: 59.375vw;animation: p2_circle_outer 1s linear 1s infinite;}
@keyframes p2_circle_outer {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-720deg);
	}
}
#page2 > .p2_circle:before {position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;border-radius: 50%;content: "";background: url(../img/p2_circle_middle.png) no-repeat center center;background-size: 100%;width: 45.625vw;height: 45.625vw;animation: p2_circle_middle 1s linear 1.5s infinite;}
@keyframes p2_circle_middle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
#page2 > .p2_circle:after {position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;border-radius: 50%;content: "";background: url(../img/p2_circle_inner.png) no-repeat center center;background-size: 100%;width: 39.9375vw;height: 39.9375vw;animation: p2_circle_inner 1s linear 2s infinite;}
@keyframes p2_circle_inner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}
#page2 > .p2_2017 {position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;content: "";background: url(../img/timg.jpg) no-repeat center center;background-size: 100%;width: 27.5vw;height: 6.24vh;}
/*page3*/
#page3 {display: none;transition: .5s;}
/*进入图三*/
#page3.fadeIn {transform: translate(0,-100%);}
#page3 > .bg {background: url(../img/p3_bg.jpg) no-repeat center center;background-size: 100%;}
/*对联*/
#page3 > .p3_left {width: 22.8125vw;height: 41.652vh;position: absolute;top: 25.48vh;right: 3.75vw;background: url("../img/p3_couplet_first.png") no-repeat center center;background-size: 100%;}
#page3 > .p3_right {width: 22.8125vw;height: 41.652vh;position: absolute;top: 25.48vh;left: 3.75vw;background: url("../img/p3_couplet_second.png") no-repeat center center;background-size: 100%;}
/*福字*/
#page3 > .p3_blessing {position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;width: 32vw;height: 32vw;background: url("../img/p3_blessing.png") no-repeat center center;background-size: 100%;animation: p3_blessing 2s linear infinite;}
@keyframes p3_blessing {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}